body {
	padding: 1.25em;
	background: #eee;
	overflow-y: scroll;
}

img {
	max-width: 38.1em;
}

.map {
	border: 0;
	width: 38.1em;
	height: 28.575em;
}

.framebar {
	padding: 0;
	background: white;
	overflow-y: hidden;
}

.navframe {
	border: 0;
	width: 13.6em;
	height: 14.8em;
	padding: 0 0 0 0.2em;
}

.container, .main { padding: 0.6em; border-radius: 0.6em; }
.content, .sidebar {	float: right; background: white; }

.inside { padding: 0.6em 1em 0.6em 0.6em; }
.container {	width: 55em; height: auto; margin: 0 auto; background: #eed; }
.content { width: 74%; }		
.sidebar { width: 26%; }
.offer { padding-left: 0.5%; width: 49.5%; float: left; }

.header {
	text-align: center;
	padding: 0.6em;
	border-radius: 0.6em;
	border: 0;
	width: 53.84em;
	height: 108px;
	box-shadow: 0 0 0.8em #555;
	background: white;
}

.main {
	margin: 0.2em 0 0.6em 0;
	overflow: hidden;
	border: 0;
	box-shadow: 0 0 0.8em #555;
	background: white;
}

.footer {
	text-align: center;	
	padding: 0.6em;
	border-radius: 0.6em;
	border: 0;
	width: 53.84em;
	height: 2em;
	box-shadow: 0 0 0.8em #555;
	background: white;
}
