nav ul { margin: 0; padding: 1.25em 0; }
nav ul li { display: block; list-style: none outside; }
nav ul li a:link { color: #fff; }
nav ul li a:visited { color: #fff; }

nav > ul > li { padding: 0.4em 0.6em; }

nav > ul  > li  > a { 
	display: block; 
	background-color: #d9534f;
	width: 8.33em; 
	text-align: left;
	font-family: Helvetica; 
	font-size: 1.5em;
	border-radius: 0.41em;
	box-shadow: 0 0 0.41em #d9534f;
	background: -webkit-linear-gradient(#d9534f, #903937); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d9534f, #903937); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d9534f, #903937); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d9534f, #903937); /* Standard syntax (must be last) */
	text-shadow: 1px 1px #000;
}

nav > ul > li > a:hover {
	background: #ca2f2c;
	color: #d6d6d6; 
	box-shadow: 0 0 0.41em #ca2f2c;
	background: -webkit-linear-gradient(#88211f, #ca2f2c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#88211f, #ca2f2c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#88211f, #ca2f2c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#88211f, #ca2f2c); /* Standard syntax (must be last) */
	text-shadow: 1px 1px #000;
}

nav > ul  > li  > a > .icon { display: inline-block; width: 1.5em; text-align: center; padding: 0 0.6em 0 0.8em; }